{% extends 'base.html.twig' %}

{% block title %}Activation{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{asset('css/Shop.css')}}" >{% endblock %}
{% block body %}
<div class="container">
        <h1 class="mb-5"> Change Visibility </h1>
        {% for message in app.flashes('BadPwd') %}
                <div class="alert alert-danger text-center">
                    {{ message }}
                </div>
        {% endfor %}
        {{form(form)}}  
</div>
{% endblock %}
